/* ====== ESTILOS GENERALES ====== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* ====== HEADER ====== */
header {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

/* ====== MAIN ====== */
main {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #eeeeee; /* gris medio, resalta más que main */
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border: 2px solid #000;
}

/* ====== SECTION SOBRE NOSOTROS ====== */
.sobre-nosotros {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}

/* ====== ARTICULOS (Misión, Visión, Valores) ====== */
.sobre-nosotros article {
  flex: 1;
  padding: 20px;
  background-color: #eeeeee; /* gris medio, resalta más que main */
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border: 2px solid #000;
}

/* ===== Footer ===== */
footer {
  background: #111;
  color: #fdfdfd;
  text-align: center;
  font-size: 16px;
  padding: 40px 20px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .social {
  margin-top: 15px;
}

footer a {
  color: #fdfdfd;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #c59d5f;
}
